<template>
  <q-layout>
    <q-header>
      <q-toolbar class="bg-white q-px-md q-py-md">
        
        <q-space />
        <q-btn flat color="black" icon="notifications" />
        <q-btn flat color="black" icon="settings" />
        <q-btn flat color="black" icon="logout" />
      </q-toolbar>
    </q-header>    
    <q-page-container>
      <q-page>
        
        <div class="bg-cyan text-left" style="height:200px;">
          <div class="row">
            <div class="col-4 q-pa-md" style="max-width:200px">
              <q-img src="./assets/Avatar.png" style="max-width:150px"></q-img>
            </div>            
            <div class="col-2 q-pa-md text-white loginInfo" style="padding-top:100px;">
              <div class="text-h4">Faiz Hakim</div>
              <div>Last online: 2 days ago</div>
            </div>
            <div class="col headerBtn">              
              
            </div>            
          </div>

          <!-- table -->
          <div class="row q-pa-lg">
            <div class="col text-center">
              <q-table
                :grid="$q.screen.lt.md"
                class="q-mt-md"
                :filter="filter"
                :rows="movies"            
                :columns="columns"
              >
                <template v-slot:top-right>
                  <q-input borderless dense debounce="300" v-model="filter" placeholder="Search">
                    <template v-slot:append>
                      <q-icon name="search" />
                    </template>
                  </q-input>
                </template>
                <template v-slot:body="props">
                  <q-tr :props="props" @click="moreInfo(props.row)" class="text-left">
                    <q-td>{{ props.row.title        || 'N/A' }}</q-td>
                    <q-td>{{ props.row.tagline      || 'N/A' }}</q-td>
                    <q-td>{{ props.row.vote_average || 'N/A' }}</q-td>                    
                  </q-tr>              
                </template>
              </q-table>
            </div>
          </div>
          <!-- table -->

          <div class="row q-pa-lg">
            <div class="col text-center">
              <q-btn text-color="cyan" icon="refresh" label="Refresh" @click="getMovies()" />
            </div>
          </div>

        </div>

        <!-- perhaos below better be done in a loop -->
        <q-dialog v-model="showMoreInfo">
          <q-card style="width: 700px; max-width: 80vw;">
            <q-card-section>
              <div class="row">
                <div class="col text-center">                  
                  <div class="text-h6">{{ title }}</div><br>
                  Probably should have movie poster here
                </div>
                <div class="col">                  
                  <div class="text-weight-bold" style="text-decoration:underline;">Overview</div>
                  <div>{{ overview }}</div>
                  <div class="text-weight-bold" style="text-decoration:underline;">Status</div>
                  <div>{{ status }}</div>
                  <div class="text-weight-bold" style="text-decoration:underline;">Tagline</div>
                  <div>{{ tagline }}</div>
                  <div class="text-weight-bold" style="text-decoration:underline;">Avg Vote</div>
                  <div>{{ vote_average }}</div>
                  <div class="text-weight-bold" style="text-decoration:underline;">Release Date</div>
                  <div>{{ release_date }}</div>
                </div>
              </div>              
            </q-card-section>            
          </q-card>
        </q-dialog>

      </q-page>
    </q-page-container>
  </q-layout>
</template>

<script>
import axios from 'axios';
import dayjs from 'dayjs';
import customParseFormat from 'dayjs/plugin/customParseFormat';
dayjs.extend(customParseFormat);

export default {
  data() {
    return {
      showMoreInfo: false,      
      filter: '',

      selectedMovie: {},
      movies: [],
      columns: [
        { name: 'title',        field: 'title',        label: 'Title',    align: 'left', sortable: false },
        { name: 'tagline',      field: 'tagline',      label: 'Tagline',  align: 'left', sortable: true  },
        { name: 'vote_average', field: 'vote_average', label: 'Avg Vote', align: 'left', sortable: true  }        
      ]      
    };
  },

  // perhaps below better be done in a loop
  computed: {
    title() { return this.selectedMovie.title; },
    overview() { return this.selectedMovie.overview; },
    status() { return this.selectedMovie.status; },
    tagline() { return this.selectedMovie.tagline || 'N/A'; },
    vote_average() { return this.selectedMovie.vote_average; },
    release_date() { return dayjs(this.selectedMovie.release_date, 'DD/MM/YY').format('DD MMM YYYY'); },    
  },

  methods: {
    async getMovies() {
      console.log('BEGIN getMovies()');
      var BIN_ID       = '63fb1a56ace6f33a22e5ab25';
      var axios_url    = `https://api.jsonbin.io/v3/b/${BIN_ID}`;
      var axios_config = { headers: { 'X-Master-Key': '$2b$10$kXVnMh8yUTse3YwvVS5n8OF9K4vqlOjTkvNtIOZ9wn/UFzfI1bNMC' } };      
      try {
        this.$q.loading.show();
        var response = await axios.get(axios_url, axios_config);
        console.log('response', response);
        var results  = response.data.record.movies;        
        this.movies = results;
        console.log('results', results);
      } catch (error) {
        console.error(`ERROR getMovies() ${error}`);
      } finally {
        this.$q.loading.hide();
      }
      console.log('END getMovies()');
    },

    async getUsers(pagination = 20) {
      var axios_url = `https://randomuser.me/api/?results=${pagination}`;
      try {
        this.$q.loading.show();
        var response = await axios.get(axios_url);
        var results  = response.data.results;
        var resultsMapped = results.map((obj) => {
          return {
            ...obj,
            Date:    dayjs(obj?.registered?.date).format('DD MMM YYYY'),
            Name:    obj?.name?.last + ' ' + obj?.name?.first,
            Gender:  obj?.gender === 'male' ? 'Male' : 'Female',
            Country: obj?.location?.country,
            Email:   obj?.email
          };
        });        
        this.users = resultsMapped;
      } catch (error) {
        console.error(`ERROR getUsers() ${error}`);
      } finally {
        this.$q.loading.hide();
      }
    },

    moreInfo(obj) {
      console.log('moreInfo', obj);
      this.selectedMovie = { ...obj };
      this.showMoreInfo = true;
    }
  },

  async mounted() {    
    await this.getMovies();
  }
}
</script>

<style scoped>
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vue:hover {
  filter: drop-shadow(0 0 2em #42b883aa);
}
@media (max-width: 600px) {
  .headerBtn {
    padding-top: 0px;
  }
  .loginInfo {
    display: none;
  }
}
@media (min-width: 600px) {
  .headerBtn {
    padding-top: 100px;
  }
}
</style>
